<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户地址</title>
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/jquery-1.11.3.min.js"></script>
    <style type="text/css">
        body {
            text-align: center;
        }

        html, body {
            width: 100%;
            /*height: 99%;*/
        }

        .layui-form-label {
            width: 80px;
        }

        .layui-form-item {
            margin: 10px;
        }

        .layui-elem-field legend {
            margin-left: 0;
        }

        .address {
            width: 100%;
        }
    </style>
    <script src="js/util.js"></script>
</head>
<body>
<form class="layui-form layui-form-pane" action="" lay-filter="addrForm">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input type="text" name="phone" lay-verify="phone" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">省份</label>
        <div class="layui-input-block">
            <select name="province" id="province" lay-filter="province">
                <option>请选择省</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">市</label>
        <div class="layui-input-block">
            <select name="city" id="city" lay-filter="city">
                <option>请选择市</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">县/区</label>
        <div class="layui-input-block">
            <select name="district" id="district" lay-filter="district">
                <option>请选择县/区</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">详细地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入详细地址"
                   class="layui-input">
        </div>
    </div>

</form>
<script>
    var form;
    var baseUrl;
    var id;
    var formData;


    layui.use('form', function () {
        form = layui.form;
        baseUrl = getURL();

        id = getQueryString("id") == null ? "" : getQueryString("id");

        loadForm();

        loadProvince();
        loadCity('city', 2, formData.province);
        loadCity('district', 3, formData.city);

        form.val("addrForm", formData);
        form.render();

        form.on('select(province)', function (data) {
            loadCity('city', 2, data.value);
        });
        form.on('select(city)', function (data) {
            loadCity('district', 3, data.value);
        });
    });

    //加载省份
    function loadProvince() {
        $.ajax({
            type: "post",
            url: baseUrl + "/area",
            data: {"type": "1"},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.status) {
                    $.each(data.data, function (index, item) {
                        $('#province').append(new Option(item.area, item.area));// 下拉菜单里添加元素
                    });
                }
            }
        });
        form.render("select");
    }

    //加载地级市、区县
    function loadCity(name, type, pValue) {
        $.ajax({
            type: "post",
            url: baseUrl + "/area",
            data: {"type": type, "parent": pValue},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.status) {
                    if(type == "2"){
                        $('#' + name).html(" <option>请选择市</option>");
                    }else {
                        $('#' + name).html("<option>请选择县/区</option>");
                    }
                    $.each(data.data, function (index, item) {
                        $('#' + name).append(new Option(item.area, item.area));// 下拉菜单里添加元素
                    });
                }
            }
        });
        form.render("select");
    }

    //加载表单
    function loadForm() {
        $.ajax({
            type: "post",
            url: baseUrl + "/address",
            data: {"id": id, "type": "get"},
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.status) {
                    //给表单赋值
                    formData = data.data;
                }
            }
        });
    }

    //获取表单的值
    function getData() {
        return form.val("addrForm");
    }
</script>
</body>
</html>